# Mostly here for `shfmt` in the Super-linter run done with pull requests; see
# <https://github.com/mvdan/sh/issues/393> and <https://editorconfig.org>.

[[shell]]
indent_style = space
indent_size = 2
